{
  "sources": [
      "src/fifo_uart.vhd",
      "src/fifo_data.vhd",
      "src/top_module.vhd",
      "src/uart.vhd",
      "src/ddr3_memory_interface/ddr3_memory_interface.vhd",
      "src/gowin_rpll/gowin_rpll.vhd",
      "tb/fifo_uart_tb.vhd"
  ],
  "vhdl": {
      "flags": {
          "global": ["--ieee=synopsys","-fexplicit","--std=08"]
      }
  }
}
