//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Tue 11 28 22:22:00 2023

IO_LOC "jtag_tdo_o" T12;
IO_PORT "jtag_tdo_o" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO" L16;
IO_PORT "GPIO" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "UART_TXD" R8;
IO_PORT "UART_TXD" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "jtag_tms_i" R11;
IO_PORT "jtag_tms_i" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_tdi_i" P11;
IO_PORT "jtag_tdi_i" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_tck_i" T11;
IO_PORT "jtag_tck_i" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_trst_i" B14;
IO_PORT "jtag_trst_i" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "RSTN" T3;
IO_PORT "RSTN" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "UART_RXD" T7;
IO_PORT "UART_RXD" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CLK" H11;
IO_PORT "CLK" PULL_MODE=UP BANK_VCCIO=1.8;
