//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Wed 12 06 08:30:30 2023

IO_LOC "O_ddr_ba_o[2]" H5;
IO_PORT "O_ddr_ba_o[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba_o[1]" D3;
IO_PORT "O_ddr_ba_o[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba_o[0]" H4;
IO_PORT "O_ddr_ba_o[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[13]" C8;
IO_PORT "O_ddr_addr_o[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[12]" A3;
IO_PORT "O_ddr_addr_o[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[11]" B7;
IO_PORT "O_ddr_addr_o[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[10]" K3;
IO_PORT "O_ddr_addr_o[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[9]" F9;
IO_PORT "O_ddr_addr_o[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[8]" A5;
IO_PORT "O_ddr_addr_o[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[7]" D8;
IO_PORT "O_ddr_addr_o[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[6]" B1;
IO_PORT "O_ddr_addr_o[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[5]" E6;
IO_PORT "O_ddr_addr_o[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[4]" C4;
IO_PORT "O_ddr_addr_o[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[3]" F8;
IO_PORT "O_ddr_addr_o[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[2]" D6;
IO_PORT "O_ddr_addr_o[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[1]" A4;
IO_PORT "O_ddr_addr_o[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr_o[0]" F7;
IO_PORT "O_ddr_addr_o[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_odt_o" R3;
IO_PORT "O_ddr_odt_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cke_o" J2;
IO_PORT "O_ddr_cke_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_we_n_o" L2;
IO_PORT "O_ddr_we_n_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cas_n_o" R6;
IO_PORT "O_ddr_cas_n_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ras_n_o" R4;
IO_PORT "O_ddr_ras_n_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cs_n_o" P5;
IO_PORT "O_ddr_cs_n_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_reset_n_o" B9;
IO_PORT "O_ddr_reset_n_o" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_clk_o" J1,J3;
IO_PORT "O_ddr_clk_o" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm_o[1]" K5;
IO_PORT "O_ddr_dqm_o[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm_o[0]" G1;
IO_PORT "O_ddr_dqm_o[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[15]" M2;
IO_PORT "IO_ddr_dq_io[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[14]" R1;
IO_PORT "IO_ddr_dq_io[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[13]" H3;
IO_PORT "IO_ddr_dq_io[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[12]" P4;
IO_PORT "IO_ddr_dq_io[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[11]" L1;
IO_PORT "IO_ddr_dq_io[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[10]" N2;
IO_PORT "IO_ddr_dq_io[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[9]" K4;
IO_PORT "IO_ddr_dq_io[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[8]" M3;
IO_PORT "IO_ddr_dq_io[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[7]" B3;
IO_PORT "IO_ddr_dq_io[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[6]" E1;
IO_PORT "IO_ddr_dq_io[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[5]" C1;
IO_PORT "IO_ddr_dq_io[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[4]" E2;
IO_PORT "IO_ddr_dq_io[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[3]" F3;
IO_PORT "IO_ddr_dq_io[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[2]" F4;
IO_PORT "IO_ddr_dq_io[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[1]" F5;
IO_PORT "IO_ddr_dq_io[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq_io[0]" G5;
IO_PORT "IO_ddr_dq_io[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs_io[1]" J5,K6;
IO_PORT "IO_ddr_dqs_io[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs_io[0]" G2,G3;
IO_PORT "IO_ddr_dqs_io[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "uart_tx_o" T6;
IO_PORT "uart_tx_o" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "out_o" L16;
IO_PORT "out_o" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rst_n_i" C7;
IO_PORT "rst_n_i" IO_TYPE=SSTL15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "clk_i" H11;
IO_PORT "clk_i" PULL_MODE=UP BANK_VCCIO=1.8;
